/* App.css */

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-bottom: 2px solid #0056b3;
}

.App-header h1 {
  margin: 0;
  font-size: 36px;
}

.App-header p {
  margin: 10px 0 0;
  font-size: 18px;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adicionado transição de cor */
}

.menu button:not(.active) {
  color: #007bff; /* Cor dos botões não selecionados */
}

.menu button.active {
  background-color: #0056b3;
}

.main-content {
  flex: 1;
}

footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #f8f9fa;
  font-size: 14px;
  color: #666;
}

.logo {
  width: 256px; /* Defina a largura desejada */
  height: auto; /* Mantenha a altura automática para manter a proporção */
}