.listar-livros-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .listar-livros-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .busca-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .busca-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
  }
  
  .busca-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .busca-container button:hover {
    background-color: #564bd4;
  }
  
  .livros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .livro-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .livro-card:hover {
    transform: translateY(-5px);
  }
  
  .livro-info p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  .livro-info p strong {
    margin-right: 5px;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #564bd4;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  